.f_l{
    float: left;
}
.w_100{
    width: 100px;
    height:30px;
    border: 1px solid #D2D2D2;
    line-height: 30px;
    text-align: center;
    background-color: #F2F2F2;
    cursor:pointer; 
    margin-right: 38px;
}
.w_100:hover{
    background-color: #1AA194;
    color:white;
}
.sbmit{
    width: 130px;
    height:50px;
    line-height: 50px;
    text-align: center;
    background-color: #1AA194;
    cursor:pointer;
    margin: auto; 
    color:white;
}
.cur_p{
    cursor:pointer;
}
.color_FB{
    color:#FB3838;
}
.m_t10{
    margin-top: 10px;
}
.m_b30{
    margin-bottom: 30px;
}
.m_t6{
    margin-top: 6px;
}
.m_l22{
    margin-left:22px;
}
.m_t_30{
    margin-top: 30px;
}
.m_l_60{
    margin-left:60px;
}
.m_l_26{
    margin-left:26px;
}
.m_l_142{
    margin-left: 250px;
}
.m_b20{
    margin-bottom: 20px;
}
.m_t20{
    margin-top: 20px;
}
.m_b6{
    margin-bottom: 6px;
}
.m_l5r5{
    margin-left: 5px;
    margin-right: 5px;
}
.shopmage>p:not(:first-child){
    margin-left: 8px;
}
.overflow_h{
    overflow: hidden;
}
.shop_input{
    /* border: 1px solid #797979; */
    /* height: 22px; */
    width: 200px;
    /* outline: none; */
}
/* .m_l34{
    margin-left: 34px;
} */
.m_l_24{
    margin-left: 24px;
}
.m_l_32{
    margin-left: 32px;
}
/* .shopmage_o>div:not(:last-child){
    margin-right: 24px;
} */
/* .w_auto{
   width: auto;
} */
/* .p_l_0{
    padding: 0px;
} */
/* .line_h_24{
    line-height: 24px;
} */
.width_120{
    width: 150px;
    padding:10px;
    border:none;
    outline: none;
    /* height:32px; */
    border:1px solid #E6E6E6;
}
.line{
width: 24px;
height: 1px;
background-color: #E6E6E6;
margin-top:7px;
}
.m_t_12{
 margin-top: 12px;
}
.T-a{
    text-align: center;
}
.w_h_500{
    width: 980px;
    height: 777px;
    position: fixed;
    top:50%;
    margin-top:-388px;
    left:50%;
    margin-left: -493px;
    z-index: 100;
    background-color: white;
    box-shadow: 1px 1px 50px rgba(0,0,0,.3);
    padding-bottom: 30px;
}
.opsitio{
    width: 100%;
    height:100%;
background-color: #B3B3B3;
opacity: 0.5;
filter:alpha(opacity=50); 
position:fixed;
top:0;
}
.text_r{
    text-align: right;
}
.eval-star img {
	width: 30px;
	height:30px;
	display: inline-block;
}
.eval-star_o{
    color:#999999;
}
.l_h_30{
    line-height: 30px;
}
.v_a{
    vertical-align:baseline;
}
.w_90{
    width: 90px;
    /* height: 20px; */
    padding:4px;
}
.in_put{
    outline: none;
    border:none;
    border: 1px solid #797979;
    font-size: 11px;
   }
.p_l_3{
    padding-left:3px;
}
.w_290{
    width: 290px;
    height:200px;
}
.h_100{
height: 100px;
}
.m_l_8{
    margin-left: 8px;
}
.m_l_3{
    margin-left: 6px;
}
.s_i_w1{
    width: 380px;
}
.s_i_w{
    width: 377px;
}
.details{
    margin-left:4px;
    margin-top:4px;
}
.reVisit{
    margin-top:4px;
    margin-left:4px !important;
}
.m_auto{
    margin: auto;
}
.over_y{
    overflow:auto;
}
.a-title{
    padding: 0 20px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
}
.a-score{
    height: 26px;
}
.a-bRed{
    border-bottom: 1px solid #FF5722;
}
#star{
    margin-top: 10px;
}
#star img{
    margin-right: 15px;
    width: 20px;
    height: 20px;
}
.a-sm{
    height: 26px;
}
.mt40{
    margin-top: 40px;
}
.a-isGo{
    margin-top: 20px;
}
.radio {
    font-size: 16px;
    color: #495060;
}
/*label:first-child {*/
    /*margin-right: 40px;*/
/*}*/
label input, .radio_on {
    display: none;
}
.pos {
    display: inline;
    vertical-align: middle;
}
.radio_bg {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    border: 1px solid #B3B4B8;
    border-radius: 50%;
}
label:hover .radio_bg, label input:checked + span.pos span.radio_bg {
    border: 1px solid #5FB878;
}
label input:checked + span.pos span.radio_bg .radio_on {
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5FB878;
}
.fs14{
    font-size: 14px;
}
.p-r{
    position: relative;
}
.p-a{
    position: absolute;
}
.a-lb{
    display: inline-block;
    width: 200px;
}
.a-text{
    top: -1px;
    left: 25px;
}
.a-btnc{
    width: 70px;
    height: 38px;
    border-radius:2px;
    text-align: center;
    line-height: 38px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
}
.a-btnL{
    background: #009688;
}
.a-btnR{
    background: #1E9FFF;
    margin-left: 10px;
}
.a-input{
    border-radius: 2px;
    height: 38px;
    outline: none;
    border: 1px solid #e6e6e6;
    overflow: hidden;
    padding-left: 5px ;
    font-size: 14px;
}
.None{
    display: none;
}
.a-textarea{
    width: 100%;
}
.a-t-title{
    height: 38px;
    line-height: 38px;
    background: #FBFBFB;
    border: 1px solid #e6e6e6;
    border-bottom:none;
    padding-left: 10px;
}
textarea {
    width: 100%;
    border: 1px solid #e6e6e6;
}